.pomodoros-list {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 70.8rem;

  &__item {
    flex-basis: 50%;
    text-align: left;
    padding-left: 3.3rem;
    box-sizing: border-box;
    position: relative;
    margin: 0 0 6.4rem;

    &::before {
      content: "";
      width: 1.7rem;
      height: 1.7rem;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
    }

    &--work-time:before {
      background-color: #ffb200;
    }

    &--work-iteration:before {
      background-color: #00d4d9;
    }

    &--short-break:before {
      background-color: #59abe3;
    }

    &--long-break:before {
      background-color: #b470d0;
    }
  }

  &__title {
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    float: left;
  }

  &__controls {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid #8da5b8;
    position: absolute;
    top: 0;
    left: 18rem;

    &:hover {
      border-bottom-color: #82c7e0;

      .pomodoros-list__value {
        color: #fff;
      }
    }
  }

  &__btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 1.2rem;
    cursor: pointer;
    color: #8da5b8;

    &:disabled {
      opacity: 0.5;
      cursor: default;
      outline: none;
    }

    &:hover:not(:disabled) {
      color: #82c7e0;
    }
  }

  &__value {
    margin: 0 2rem;
    color: #8da5b8;
    font-size: 1.6rem;
    background-color: transparent;
    border: 0;
    padding: 0;
    width: 4rem;
    text-align: center;
    -moz-appearance: textfield;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0;
    color: #8da5b8;
    padding-top: 1rem;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    clear: both;
    text-align: left;
  }

  &__highlight {
    color: #fff;
    font-style: normal;
  }
}

@media only screen and (max-width: 767px) {
  .pomodoros-list {
    width: 36rem;

    &__item {
      flex-basis: 100%;
    }
  }
}
