.header {
  padding: 2rem 0 3rem;
  background-color: #2a3f50;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-img {
  display: block;
  height: 7.4rem;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    position: relative;

    &:not(:first-child) {
      margin-left: 2rem;
    }
  }

  &__link {
    color: #8da5b8;
    text-decoration: none;
    font-size: 2rem;

    .menu__item--active & {
      color: #fff;
    }

    &:hover,
    &--active {
      color: #82c7e0;
    }
  }
}
