@import "./layout.scss", "./icons.scss", "./helpers.scss", "./buttons.scss",
  "./notification.scss", "./misc.scss";

input[type="number"] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #2a3f50;
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (min-width: 1280px) {
  body {
    min-width: 128rem;
  }
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 38rem;
  }
}

img {
  max-width: 100%;
}

a [class^="icon-"] {
  pointer-events: none;
}

button {
  outline: none;
}
