
.buttons {
    text-align: center;
  
    &__btn {
      background-color: transparent;
      border: 0;
      color: #fff;
      font-size: 2rem;
      line-height: 4.2rem;
      font-weight: bold;
      min-width: 7.2rem;
      padding: 0 2.5rem;
      margin: 0 1rem;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
  
      &:hover {
        background-color: #fff;
      }
  
      &--blue {
        background-color: #57a6dc;
  
        &:hover {
          background-color: #368bc5;
        }
      }
  
      &--green {
        background-color: #1abc9c;
  
        &:hover {
          background-color: #16a085;
        }
      }
  
      &--red {
        background-color: #f15a4a;
  
        &:hover {
          background-color: #c94d47;
        }
      }
    }
  }