.your-cycle {
  margin-bottom: 5rem;

  &__heading {
    color: #fff;
    font-size: 2rem;
    line-height: 1.5;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    margin: 0 0 8rem;
  }

  &__container {
    height: 1rem;
    margin-bottom: 6.8rem;
    background-color: #ffb200;
    position: relative;
  }

  &__work-time {
    height: 100%;
    background-color: #ffb200;
    float: left;
    position: relative;

    &::before {
      content: attr(data-content);
      position: absolute;
      top: -3rem;
      left: 0;
      color: #8da5b8;
      font-size: 1.2rem;
      font-weight: 400;
      white-space: nowrap;
    }

    &[data-content]:after {
      background-color: #00d4d9;
      content: "";
      width: 0.3rem;
      height: 0.3rem;
      position: absolute;
      top: -1rem;
      left: 0;
      border-radius: 50%;
    }

    &:last-of-type {
      &::before,
      &::after {
        left: auto;
        right: 0;
      }

      .your-cycle__short-break {
        height: 100%;
        background-color: #57a6dc;
        float: left;
      }
    }
  }

  &__short-break {
    height: 100%;
    background-color: #57a6dc;
    float: left;
    position: relative;
  }

  &__long-break {
    height: 100%;
    background-color: #b470d0;
    float: left;
  }

  &__halfanhour {
    position: absolute;
    top: 2rem;
    content: "";
    width: 0.3rem;
    height: 0.3rem;
    background-color: #00d4d9;
    border-radius: 50%;

    &::before {
      content: attr(data-content);
      position: absolute;
      top: 0.4rem;
      left: 0;
      color: #8da5b8;
      font-size: 1.2rem;
      font-family: "PT Sans", sans-serif;
      white-space: nowrap;
    }
  }
}
